[submodule "extern/tracr"]
	path = extern/tracr
	url = https://github.com/Algebraic-Programming/TraCR.git
	branch = main
[submodule "extern/hicr"]
	path = extern/hicr
	url = https://github.com/Algebraic-Programming/HiCR.git
	branch = master
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
